.addnew {
  text-align: center;
  color: #212529;
}
.bob {
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 450px;

}

.picture {
  height: 200px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.scrollskill {
  overflow: auto;
  height: 50px;
}


.bob-button{
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.name-center{
  text-align: center;

}
