._nav {
  &.navbar-default {
    background-color: #fa022a;
    border-color: #fa022a;
    border-radius: 0;
    margin-bottom: 0;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 2em !important;
    span {
      color: #fed800;
      font-weight: 900;
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.navbar-default .navbar-right {
  &.navbar-nav>li>a {
    color: white !important;
    font-size: 18px;
    text-decoration: none !important;
    &:hover {
      color: white !important;
      font-weight: 500;
      border-bottom: 4px solid #fed800;
      margin-bottom: -4px;
    }
  }
}
