// .show-rows {
//   text-align: center;
//   height: 400px;
//   border-top: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;
//
// }
// h1 {
//   text-align: center;
//   padding: 20px;
// }
//
// h2 {
//   text-align: center;
//   padding: 20px;
// }
//
.show-picture {
  height: 100px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;
}

.supporters {
    border: 1px solid #ccc;

}
