@import 'footer';
@import 'jumbotron';
@import 'dragndrop';
@import 'google';
@import 'stars';
@import 'index';




img {
    height: 300px;
}

.image-tile {
  margin-bottom: 30px;
  position: relative;

  img {
    width: 100%;
    border-radius: 2px;
    padding: 4px;
    background: #fafafa;
  }
}
